<div class="container" style="background-color: #2F4F4F">
    <h4 style="color: white"><strong><img src="/assets/images/55n.png"width="40px" height="40px">  SPsuwanan &nbsp; &nbsp;Phone&nbsp;095-2377638</strong><br></h4>
    <h6 style="color: white">ถนน ศรีจันทร์27 &nbsp; ถนน ศรีจันทร์27 &nbsp; ตำบล ในเมือง &nbsp; อำเภอ เมือง &nbsp; จังหวัด ขอนแก่น &nbsp; 40000<br>
    </h6>
    <br>
    <div class="text-left  ">
        <a href="https://www.facebook.com/profile.php?id=100011918617489" target="_blank"><img src="/assets/images/56n.png"width="30px" height="30px"></a>
        <a href="https://www.facebook.com/profile.php?id=100011918617489" target="_blank"><img src="/assets/images/57n.png"width="30px" height="30px"></a>
        <a href="file:///C:/spsuwanan/app/views/profile.scala.html" target="_blank"><img src="/assets/images/woen-2_icon-icons.com_55032.png"width="30px" height="30px"></a>
    </div>
</div>