
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #000000;
    }
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<p style="color: cadetblue" align="center">


<ul class="nav nav-pills nav-stacked">
    <li style="border: 0px solid White; border-radius: 0px;"><a href="/home" style="text-align: center; font-weight: bolder;;">HOME</a></li>
    <li style="border: 0px solid White; border-radius: 0px;"><a href="/product">product</a></li>
    <li style="border: 0px solid White; border-radius: 0px;"><a href="/oder">order</a></li>
    <li style="border: 0px solid White; border-radius: 0px;"><a href="/promotion">promotion</a></li>
    <li style="border: 0px solid White; border-radius: 0px;"><a href="/dtp">shop</a></li>
    <li style="border: 0px solid White; border-radius: 0px;"><a href="/inputClothes">input</a></li>
</ul>



