<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

<h2><p style="background-color: #FFFF66" align=center> <strong> <b>MY PROFILE</b></strong></p></h2>
<div align="center"><img src="/assets/images/nes.jpg"  width="230" height="300"></div>
<div align="center"><font color="black"><h1>สุวนันท์ โพยนอก</h1></font></div>
<font size=5><dd>ประวัติส่วนตัว </dd>
    <br>&nbsp;&nbsp;&nbsp; ชื่อ &nbsp; นางสาวสุวนันท์ &nbsp; โพยนอก
    <br>&nbsp;&nbsp;&nbsp; ชื่อเล่น &nbsp; เนส
    <br>&nbsp; &nbsp; &nbsp;เกิดวันที่ : 13 พฤศจิกาายน 2538 &nbsp;&nbsp; อายุ 22 ปี
    <br>&nbsp;&nbsp;&nbsp;ที่อยู่ปัจจุบัน : 232 หมู่ 3 ต.ศรีสุข อ.สีชมพุ จ.ขอนแก่น
    <br>&nbsp; &nbsp; &nbsp; น้ำหนัก : 53 กิโลกรัม &nbsp; &nbsp; ส่วนสูง : 165 เซนติเมตร


    <br>&nbsp; &nbsp; &nbsp; Tel : 095-2377638
    <br>&nbsp; &nbsp; &nbsp; Facebook : <a href="https://www.facebook.com/profile.php?id=100011918617489" target="_blank">สะ' เนส</a>
    <br>&nbsp; &nbsp; &nbsp; Line : <a href="http://line.me/ti/p/Qbm84-DveE" target="_blank">nesfyty</a>

    <br>
    <div align="center"><a href="/http://localhost:9000/home"><img src="/assets/images/home.png"width="50px" height="50px"></a><br>
        <font size=4>กลับสู่หน้าหลัก</font></div>
</font>
<br><br><br>



</body>
</html>